@model PPC.Models.Property

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Create Property</h2>


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
    </div>

    <table>
        <tr>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.Property_Name, "Property Name", htmlAttributes: new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        @Html.EditorFor(model => model.Property_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Property_Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.Property_Type_ID, "Property Type", htmlAttributes: new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        @Html.DropDownList("Property_Type_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Property_Type_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td style="padding-right: 15em">
                <div class="form-group">
                    <label class="control-label col-md-10">City</label>
                    <div class="col-md-50">
                        @Html.DropDownList("City_ID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.District_ID, "District", htmlAttributes: new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        @Html.DropDownList("District_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.District_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.Bed_Room, "Bedroom", htmlAttributes: new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        @Html.EditorFor(model => model.Bed_Room, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bed_Room, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.Bath_Room, "Bathroom", htmlAttributes: new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        @Html.EditorFor(model => model.Bath_Room, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bath_Room, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.Installment_Rate, "Installment Rate", htmlAttributes: new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        @Html.EditorFor(model => model.Installment_Rate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Installment_Rate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.Property_Status_ID, "Property Status", htmlAttributes: new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        @Html.DropDownList("Property_Status_ID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Property_Status_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.Avatar, new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        <input type="file" name="file" />
                    </div>
                </div>
            </td>
            <td style="padding-right: 15em">
                <div class="form-group">
                    @Html.LabelFor(model => model.Album, new { @class = "control-label col-md-10" })
                    <div class="col-md-50">
                        <input type="file" name="files" multiple />
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@Scripts.Render("~/bundles/jqueryval")

